<header>
  <span>{{dateNow}}</span>
  <div class="intro-header">
    <div>
      <h3>Olá Coder</h3>
      <p>Você tem {{taskNumber}} {{ taskNumber == 1 ? 'tarefa' : 'tarefas' }}</p>
    </div>
    <div class="logout">
      <p>Logout</p>
      <i class="bi bi-box-arrow-right"></i>
    </div>
  </div>
</header>

<main>
  <h1>Suas tarefas:</h1>
  <ul class="task-list">
    <li *ngFor="let task of taskList; let i = index" (click)="selectTask(task, i)" [class.selected]="task === selectedTask">
      <div [ngClass]="'task border-' + task.color">
        <div class="name-data">
          <h2>{{task.title}}</h2>
          <span>{{task.limitDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <span>{{task.category}}</span>
        <p>{{task.description}}</p>
        <div class="div-complete">
          <span *ngIf="isChecked">Feito!</span>
          <input type="checkbox" id="complete-check" [(ngModel)]="isChecked">
        </div>
      </div>
    </li>
  </ul>
</main>

<footer>
  <nav>
    <i class="bi bi-pencil-square" (click)="editTask()"></i>
    <i class="bi bi-plus-circle-fill" style="font-size: 1.75rem; color: #386cd0; margin: 0 18px;"></i>
    <i class="bi bi-plus-circle-fill add-task" (click)="navigateToAddTask()"></i>
    <i class="bi bi-trash" (click)="deleteTask()"></i>
  </nav>
</footer>